@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

:root {
    --fontGochi: 'Gochi Hand', sans-serif;
    --fontBubble: 'Rubik Bubbles', sans-serif;
}

.title{
    font-family: var(--fontBubble);
    font-size: 400%
}

.txt{
    font-family: var(--fontGochi);
    color: aliceblue;
}

.parrafo{
    animation: zoom 5s alternate-reverse;
    animation-delay: 6s;
    color: #92D991;
    animation-iteration-count: infinite;
    text-align: justify;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.justify-text {
    text-align: justify;
}

@keyframes zoom{
    0%{
        scale: 1.05;
        color: #01c0ce; 
    }
}
