@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Paytone+One&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Mate+SC&family=Paytone+One&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Mate+SC&family=Paytone+One&family=Playfair+Display:wght@500&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Josefin+Sans:wght@300&family=Mate+SC&family=Paytone+One&family=Playfair+Display:wght@500&family=Rubik+Mono+One&display=swap');

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
/* imagen de fondo*/
.background{
    background: url('../assets/img/fondo2.jpg') no-repeat center center fixed;
    height: 100%;
    background-size: cover;
}
/* color de fondo del login, donde esta el boton de registro*/
.login{
    background-color: rgba(11, 10, 10, 0.534);

    /* fuentes */
}
.login h1{
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Mate SC', serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Rubik Mono One', sans-serif;
    font-size: 2rem;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 40px;
}
/* centrado del contenedor*/
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*ancho de la caja*/
.caja{
    height: 400px;
}
/* parte de bienvenida*/
.introduction{
    background-color: #3d3d3d74;
    padding: 30px;
}
.introduction h2{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Paytone One', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    width: 400px;
    animation: escribiendo 6s steps(20) infinite alternate, pleca 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid 3px;
}
.introduction h3{
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Playfair Display', serif;
font-size: 3rem;
}
.introduction p{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Mate SC', serif;
    font-family: 'Paytone One', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}
/*estilo del boton del login*/
.loginButton{
    background-color: rgb(44, 210, 144);
    width: 150px;
    border-radius: 12px;
    outline: none;
    padding: 10px;
    font-size: 1.5rem;
    border: 2px solid #2544;
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Mate SC', serif;
    font-family: 'Paytone One', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Rubik Mono One', sans-serif;
}
.loginButton:hover{
    cursor: pointer;
    background-color: #fff;
    color: rgb(42, 212, 155);
    border: 2px solid #2544;
    transition: all 0.3s;
    font-weight: 700;
    
}

/* animaicion del welcome*/
@keyframes escribiendo{
    0%,100%{
        width:0;
    }
    40%,60%{
        width: 400px;
    }
    90%{
        width: 0;
    }
} 
/* animacion para que aparezca la pleca*/
@keyframes pleca{
    50%{
        border-color: transparent;
    }
}
/* Media queries para dispositivos pequeños */
@media (max-width: 1024px) {
    .contenedor {
        flex-direction: column;
    }

    .caja {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .caja > div {
        margin-bottom: 20px;
        width: 100%;
    }

    .introduction h2 {
        font-size: 4rem;
        width: 100%;
        animation: none; /* Desactivar la animación en pantallas pequeñas */
    }

    .loginButton {
        width: 100%;
    }
}
