@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Paytone+One&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Mate+SC&family=Paytone+One&family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Mate+SC&family=Paytone+One&family=Playfair+Display:wght@500&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Josefin+Sans:wght@300&family=Mate+SC&family=Paytone+One&family=Playfair+Display:wght@500&family=Rubik+Mono+One&display=swap');

/* imagen de fondo*/
.background{
    background-image: url('../assets/img/fondo2.jpg');
    height: 100%;
    background-size: cover;
    background-position: center;
}
/* color de fondo del login, donde esta el boton de registro*/
.login{
    background-color: rgba(11, 10, 10, 0.534);

    /* fuentes */
}
.login h1{
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Mate SC', serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Rubik Mono One', sans-serif;
    font-size: 2rem;
    color: #fff;
    margin-top: 60px;
    margin-bottom: 40px;
}
/* centrado del contenedor*/
.contenedor{
    padding-top: 150px;
    padding-bottom: 150px;
}
/*ancho de la caja*/
.caja{
    height: 400px;
}
/* parte de bienvenida*/
.introduction{
    background-color: #3d3d3d74;
    padding: 30px;
}
.introduction h2{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Paytone One', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    width: 400px;
    animation: escribiendo 6s steps(20) infinite, pleca 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: solid 3px;
}
.introduction h3{
    font-family: 'Josefin Sans', sans-serif;
font-family: 'Paytone One', sans-serif;
font-family: 'Playfair Display', serif;
font-size: 3rem;
}
.introduction p{
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Mate SC', serif;
    font-family: 'Paytone One', sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: 1.2rem;
}
/*estilo del boton del login*/
.loginButton{
    background-color: blue;
    width: 150px;
    border-radius: 12px;
    outline: none;
    padding: 10px;
    font-size: 1.5rem;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Mate SC', serif;
    font-family: 'Paytone One', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Rubik Mono One', sans-serif;
}
@keyframes escribiendo{
    0%,100%{
        width:0;
    }
    40%,60%{
        width: 400px;
    }
    90%{
        width: 0;
    }
} 
@keyframes pleca{
    50%{
        border-color: transparent;
    }
}
@media screen and (max-width: 600px) {
    .contenedor{
        padding-top: 20px;
    }
    .background{
        height: 800px;
    }
    .introduction h2{
        font-size: 4rem;
    }
}