/* Navbar.css */
.navbar-logo {
    width: 100px;
    max-width: 100px;
    height: auto;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar {
    /*background-color: #000000;*/
    /*color: #ffffff;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
}

.navbar a {
    color: #50B958;
    text-decoration: none;
}

.navbar a:hover {
    color: #00AEC6;
    text-decoration: none;
}

.navbar a:active {
    color: #00AEC6;
    text-decoration: none;
}