/* Estilos para la paginación */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-item {
    list-style: none;
}

.pagination-button {
    background-color: #50b958;
    color: #00AEC6;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    margin: 0 5px;
}

.pagination-button.disabled {
    background-color: #00AEC6;
    cursor: not-allowed;
}

.pagination-button.active {
    background-color: #1d1d1b;
    color: #50b958;
}

.pagination-button:hover {
    background-color: #388e3c;
}